<div class="p-[50px]">
  <app-typography class="text-stroke" [fontText]="TextFont.QuicksandBold"
                  [typeText]="TextType.h1">Hey, I am
    <span class="text-primary"> Davide Bilardello
    </span>
  </app-typography>
  <app-typography cssClasses="text-primary mt-1" [fontText]="TextFont.QuicksandRegular"
                  [typeText]="TextType.h5">(My nickname is EscanorTargaryen)
  </app-typography>
  <br>
  <app-typography cssClasses="text-primary" [fontText]="TextFont.QuicksandRegular"
                  [typeText]="TextType.h2">I’m a junior software engineer and front-end developer
  </app-typography>
</div>
<div class="flex flex-col items-end p-20 " [style.margin-top]="(window.innerHeight*0.6) + 'px'">
  <div>
    <app-typography cssClasses="text-primary " [fontText]="TextFont.QuicksandBold"
                    [typeText]="TextType.h2"> Projects
    </app-typography>
    <app-typography cssClasses="text-primary" [fontText]="TextFont.QuicksandRegular"
                    [typeText]="TextType.h4"> UltimateAdvancementgenerator
    </app-typography>
    <app-typography cssClasses="text-primary  section-one" [fontText]="TextFont.QuicksandRegular"
                    [typeText]="TextType.h4"> UltimateAdvancementgenerator is a generator<br>UltimateAdvancementgenerator
      is a generator<br>UltimateAdvancementgenerator is a generator<br>UltimateAdvancementgenerator is a generator<br>UltimateAdvancementgenerator
      is a generator<br>UltimateAdvancementgenerator is a generator<br>UltimateAdvancementgenerator is a generator<br>UltimateAdvancementgenerator
      is a generator<br>UltimateAdvancementgenerator is a generator<br>
    </app-typography>
  </div>
</div>
<div class="flex flex-col items-end  mt-96 p-20">
</div>

